
html {
  font-family: 'Montserrat', sans-serif;
   }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* header styles */
  
  h1 {
    font-size: 8rem;
    text-align: center;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 3rem;
    letter-spacing: -3px;
    margin-bottom: 10px;
  }
  